function load_readalytics() {
	var html;
	var body = document.body;	
	html[] = '<iframe style="height:200px;width:100px;border: 3px solid #444444;position:absolute;top:0;right:0;">';
	html[] = '<html><body>Hello world</body></html>';
	var html_string = html.join(' ');
	alert(html_string);
}
load_readalytics();